In [1]:
import pandas as pd
import sqlite3

In [30]:
# Create a SQL connection to our SQLite database
con = sqlite3.connect("../larrys_database.db")

In [31]:
# Load the data into a DataFrame
df = pd.read_sql_query("SELECT * from points", con)

In [32]:
# Drop duplicates
dedup_df = df.drop_duplicates()

In [33]:
df

             name                  id  points_awarded         day      type
0        dinkstar  353332394541187074       49.925926  2024-01-02   ON TIME
1           bemno  369989877229682688       29.037037  2024-01-02   ON TIME
2       jam4bears  390403088722165762       49.851852  2024-01-02   ON TIME
3    kyboydigital  639283802308476970       29.962963  2024-01-02   ON TIME
4        dinkstar  353332394541187074        9.407407  2024-01-02  DURATION
..            ...                 ...             ...         ...       ...
529      dinkstar  353332394541187074       50.000000  2024-03-25  DURATION
530      dinkstar  353332394541187074       42.223581  2024-03-26   ON TIME
531  kyboydigital  639283802308476970        0.000000  2024-03-26   ON TIME
532      dinkstar  353332394541187074       50.000000  2024-03-26  DURATION
533  kyboydigital  639283802308476970        3.990342  2024-03-26  DURATION

[534 rows x 5 columns]

In [34]:
dedup_df.to_sql("points", con, if_exists="replace", index=False)

506

In [35]:
# Drop the entry for dinkstar at day 2024-03-05
df = pd.read_sql_query("SELECT * from points WHERE name != 'dinkstar' OR day != '2024-03-05'", con)

In [36]:
df.to_sql("points", con, if_exists="replace", index=False)

504